@media only screen and (max-width:1100px){
    .navlist{
        width:50%;
       
        display: flex;
        
        align-items: center;
       flex-direction: column;}
       .navbar{
        height:500px;
           flex-direction: column;
           transition: all 0.7s ease-out;
       }
       
       .navright{
           display: flex;
           flex-direction: column;
           justify-content: center;
           align-items: center;
       }
       #search{
           margin:5px 0;
           width:100%;
       }
       .burger{
           display: block;
       }
       .v-class{
           opacity: 0;
       }
       .navheight{
           height:72px;
       }
       .box-main{
           flex-direction: column-reverse;
           max-width: 100%;
       }
}
@media only screen and (max-width:600px){
    .image:hover .cart1,
.image:hover .cart2,
.image:hover .cart3,
.image:hover .cart4,
.image:hover .cart5{
    left:108px;
}
}